version: '3.4'

services:
  reactapp:
    image: reactapp
    build:
      context: packages/reactapp
      dockerfile: ./Dockerfile
    env_file:
      - ./packages/reactapp/.env
    ports:
      - 3000:3000
    volumes:
      - ./packages/reactapp/:/app
      - /app/node_modules
    depends_on:
      - todoapi

  todoapi:
    image: todoapi
    build:
      context: packages/todo-api
      dockerfile: ./Dockerfile
    env_file:
      - ./packages/todo-api/.env
    ports:
      - 3001:3001
    volumes:
    - ./packages/todo-api/:/app
    - /app/node_modules
    depends_on:
      - postgres

  postgres:
    container_name: postgres
    image: postgres:13.1
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - 5432:5432

volumes:
  pgdata: